<%- contentFor('conteudo') %>

<% if (lastBook != undefined) { %>
    <h2> Ultimo Livro visitado </h2>
    <h3> <%=data.nomelivro %> </h3>
    <div id="imgultimoacesso">
        <a href="book/<%=lastBook %>" target="_self">
            <img src=<%=data.imglivro %> alt="Imagem do livro <%= data.nomelivro %>" width="150">
        </a>        
    </div>
    <%- data.avalmedia %>
<% } %>

<h2> Livros Disponíveis </h2>

<% short.forEach( function (livro) { %>
    <h3><%= livro.nomelivro %></h3>
    <a href="book/<%= livro.id %>" target="_self">
        <img src="/data/livros/<%= livro.id%>/<%= livro.id %>.jpg" alt="Imagem do livro <%= livro%>" width="150">    
    </a>
    <%- livro.avalmedia %>
<% }); %>

<%- contentFor('script') %>

<script src="/scripts/main.js"></script>
